#root {
  width: 100%;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  max-width: none;
  text-align: unset;
}

.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.app-content {
  flex: 1;
  display: flex;
  flex-direction: column;
}